{% extends "layout.html" %}

{% block title %}
Update Password
{% endblock %}

{% block main %}
<form action="/update" method="post">
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="old_password" placeholder="Old Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="new_password" placeholder="New Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Confirmation"
            type="password">
    </div>
    <input class="btn btn-primary log-btn" type="submit" value="Update Password">
</form>
{% endblock %}